
* {
  margin: 0;
  padding: 0;
}

:root{
  --worldColor: rgb(12, 10, 22);
    /* --worldColor: black; */


}

body {
  /* background-image: url(./Components/assets/TRAITEMENTS-AIR.jpg); */
  background-color: var(--worldColor);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
  overflow-x: hidden;
  overflow-y: hidden;
}

.CONTAINER {
  user-select: none;
  /* display: flex; */
}
